@if (loading) {
<div class="contact__loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
} @else {
<div class="console-app__contacts">
  @if (contactService.contacts().length === 0) {
  <div class="console-app__empty-contacts">
    <mat-icon class="console-app__empty-contacts-icon secondary-text">apps_outage</mat-icon>
    <h1>No contacts found</h1>
  </div>
  } @else {
  <mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef> {{ column.header }} </mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="column.cell(row)"></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  }
  <div class="contact__actions">
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>Create a Contact
    </button>
  </div>
  <app-dialog-bottom-sheet-wrapper #contactDetailsWrapper></app-dialog-bottom-sheet-wrapper>
</div>
}