@use '@angular/material' as mat;

.console-app {
  &__registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  &__title {
    margin-right: 1rem;
  }
  &__registrar-selector {
    @include mat.all-component-densities(-2);
    background: red;
  } 
}
